<div class="main-nav">
    <img class = "logo" id="nav-logo" src = "/assets/icons/logo.png" alt="logo"/>
    <img class = "icon" id="nav-menu" src = "#"/>
</div>
<main>
    <div id="main-modal">
    <img class = "logo" src = "/assets/icons/logo.png" alt="logo"/>
    <h1 id="intro">
        Hi, I'm Ana <span id="last-names">Medrano Fernadez</span>
    </h1>
    <ul>
        <li>full stack developer</li>
        <li>passionate about people and culture</li>
        <li><span ><img class="icon" id="heart" src="#"/></span> learning and connecting the dots</li>
    </ul>
    </div>
    <div>
        Dots to be connected
    </div>
</main>

{{data}}