<script src="/assets/js/user.js"></script>

<h1> Welcome to the User Admin Page</h1>

<form>

    <form>
        <fieldset class="uk-fieldset">

            <div class="uk-margin">
                <label class="uk-form-label">Email</label>
                <input id="user-email" class="uk-input" type="text" placeholder="name@something.com">
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">Name</label>
                <input id="user-name" class="uk-input" type="text" placeholder="Jane S. Smith">
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">Phone</label>
                <input id="user-phone" class="uk-input" type="text" placeholder="(xxx)xxx-xxxx">
            </div>

            <div class="uk-margin">
                <label class="uk-form-label">GitHub</label>
                <input id="user-github" class="uk-input" type="text" placeholder="username">
            </div>

             <div class="uk-margin">
                <label class="uk-form-label">LinkedIn URL</label>
                <input id="user-linkedIn" class="uk-input" type="text" placeholder="linkedIn.com/username">
            </div>
           

            <div class="uk-margin">
                <label class="uk-form-label">About Me</label>
                <textarea id="user-aboutMe" class="uk-textarea" rows="5" placeholder="Add description of your professional background"></textarea>
            </div>

        </fieldset>
        <button id="user-submit" class="uk-button uk-button-default">Submit</button>
    </form>

